<?php
require_once __DIR__ . "/../includes/header.php";
// include_once('includes/header.php');
?>
<div class="row justify-content-center my-4">
    <div class="col-lg-10 col-md-11">
        <div class="animate__animated animate__fadeIn">
            <div class="row">
                <div class="col-6">
                    <h2>Detalles de la Película</h2>
                </div>
                <div class="col-6">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="./" type="button" class="btn btn-outline-primary">Inicio</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xxl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="<?php echo '/assets/img/' . $datos["pelicula"]['portada'] ?>." class="card-img-top" alt="<?php echo $datos["pelicula"]['titulo'] ?>">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><?php echo $datos["pelicula"]['titulo'] ?></h5>
                                    <p class="card-text"><?php echo $datos["pelicula"]['sinopsis'] ?></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <h3>Deja un Comentario</h3>
                    <hr>
                    <div class="col-12">
                        <form id="frm-comentario" data-pelicula="<?php echo $datos["pelicula"]['id'] ?>">
                            <div class="form-floating">
                                <textarea class="form-control" name="inpt-comentario" size="5" placeholder="Leave a comment here" id="inpt-comentario" required></textarea>
                                <label for="inpt-comentario">Comentario</label>
                            </div>
                            <div class="col-12" id="validation-comentario"></div>
                            <div class="d-grid gap-2 mt-3">
                                <button class="btn btn-primary" type="button" id="btn-save">Comentar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12" id="alert-comentario">

                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <h2>Comentarios</h2>
                <hr>
                <div class="col-12" id="div-comentarios">
                    <?php if (count($datos['comentarios']) <= 0) { ?>
                        <div class="alert alert-warning" role="alert">
                            No hay comentarios
                        </div>
                    <?php } else { 
                        foreach ($datos['comentarios'] as $item) { ?>
                        <div class="card card-comment">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user-comment d-flex flex-row align-items-center">
                                    <img src="./assets/img/user-comment.png" width="30" class="user-img-comment rounded-circle mr-2">
                                    <span><small class="font-weight-bold"><?php echo $item['comentario']; ?></small></span>
                                </div>
                                <small><?php echo $item['fecha_string']; ?></small>
                            </div>
                        </div>
                    <?php } 
                    }?>

                </div>
            </div>
        </div>
    </div>
</div>
<?php
require_once __DIR__ . "/../includes/footer.php";
// include_once('includes/footer.php');
?>