<?php
require_once __DIR__ . "/../includes/header.php";
?>
<div class="row justify-content-center my-5">
    <div class="col-lg-10 col-md-11">
        <div class="animate__animated animate__fadeIn">

            <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-4">Iniciar Aplicación</h1>
                    <p class="lead">Debe crear la BD para ver la web</p>
                    <hr class="my-4">
                    <p class="col-md-12 fs-4">Se debe crear la base de datos ejecutando el archivo .sql que se encuentra en la raiz del proyecto, luego de crear la base de datos, presione el boton para iniciar la web.</p>
                    <button class="btn btn-primary btn-lg" id="btn-inicio" type="button">Iniciar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<?php
require_once __DIR__ . "/../includes/footer.php";
?>