<?php
require_once __DIR__."/../includes/header.php";
?>
<div class="row justify-content-center my-5">
    <div class="col-lg-10 col-md-11">
        <div class="animate__animated animate__fadeIn">
            <h2>Peliculas</h2>
            <hr>
            <div class="row">
                <div class="input-group mb-3">
                    <input type="text" id="inpt-search" autocomplete="false" class="form-control" placeholder="Buscar Pelicula" aria-label="Buscar Pelicula" aria-describedby="btn-search">
                    <button class="btn btn-outline-secondary" type="button" id="btn-search">Buscar</button>
                </div>
            </div>
            <?php
            if ($datos->num_rows <= 0) { ?>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning" role="alert">
                            No se encontraron registros
                        </div>
                    </div>
                </div>

            <?php } else {
            ?>
                <div class="row" id="div-listado">
                    <?php
                    foreach ($datos as $dato) { ?>
                        <div class="col-xxl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <div class="card h-100">
                                <img src="<?php echo '/assets/img/'.$dato['portada']?>." class="card-img-top" alt="<?php echo $dato['titulo']?>">
                                <div class="card-body">
                                    <h5 class="card-title"><?php echo $dato['titulo']?></h5>
                                    <p class="card-text sinopsis"><?php echo $dato['sinopsis']?></p>
                                </div>
                                <div class="card-footer">
                                    <a href="./index.php?pelicula=<?php echo $dato['slug']?>" title="Ver Detalles" class="stretched-link text-decoration-none">Ver Detalles</a>
                                </div>
                            </div>
                        </div>
                    <?php
                    }
                    ?>
                </div>
            <?php } ?>
        </div>
    </div>
</div>
<?php
require_once __DIR__."/../includes/footer.php";
?>