.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}


.card-comment {
    
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;
    padding: 1rem!important;
    margin-bottom: 1rem!important;
}

.user-img-comment{

    margin-top: 4px;
}

.user-comment span {
    margin-left: 20px;
}

.div-overlay {
    z-index: 99999999;
    background: #000000;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

#div-alert {
    display: none;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;              /* NUEVO */
  }

  .sinopsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.input-validation-error { border: 1px solid red !important }

  

